.checked {
	background-image: url("./images/checkmark2.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.checkbox {
	background-color: white;
	border: 1px solid black;
	height: .65rem;
	width: .65rem;
}